#icon{
    display: none;
}
header{    
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
header nav{
    width: fit-content;
    margin-top:3px;
}
header nav ul li{
    display: inline;
    list-style-type: none;
    padding:5px;
    margin:5px;
    cursor: pointer;
    
}

a{
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in-out;
}

a:hover{
    color: #14a4fd;
}

.active{
    color: #14a4fd;
}

.logo{
    margin-left:20px;
    margin-right:auto;
    cursor: pointer;
    transition : height 0.5s ease;
}

.logo:hover{
    height:65px;
}

.text span{
    color: #14a4fd;
}

.intro{
    display: flex;
    align-items: center;
    margin: 40px;
    height: 50vh;
}

.text{
    display: inline-block;
    margin-top: 100px;
}
.image{
    display: inline-block;
    width: fit-content;
}

.intro p{
    font-size: 0.9em;
    position: relative;
    bottom:15px;
}

.tech img{
    animation : spinIcon 1.3s ease;
    transition: height 0.5s ease-in-out;
    height:40px;
    margin:35px;
}

.tech img:hover{
    height:50px;
}


.tech-content{
    margin-top:100px;
}

.start{
    margin:30px
}

.techstack h1{
    font-size: 2em;
    animation: fadeIn 1.5s ease;
}
.techstack p{
    font-size: 0.8em;
    text-align: left;
    animation: fadeIn 1.5s ease;
}

.sidebar{
    background-color:#1e98fe;
    position: fixed;
    top:0;
    height:100vh;
    width:200px;
    z-index: 1;
    transition: right 0.6s ease;
}
.sidebar img{
    margin:10px;
}
.show{
    right :0;
}
.hide{
    right:-200px;
}
#small li{
    display: block;
}

h1{
    font-size: 2em;
    animation: fadeIn 1.5s ease;
}

.about section{
    margin-top:100px;
}
.about-me{
    height: 100vh;
    margin-left: 25px;
}
.about-me p{
    font-size: 0.8em;
    text-align: left;
    animation: fadeIn 1.5s ease;
}

.small-con{
    display: inline-block;
    border-radius: 14px;
    border:2px solid;
    width:fit-content;
    height:fit-content;
    color:grey;
    margin: 5px;
    padding: 2px;
}
.small-con span{
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}


.skill-box{
    width: fit-content;
    margin-top: -10px;
}
.skill-box .skill {
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeInFromLeft 0.6s forwards;
}

.exp-info h4{
    font-weight: 500;
}
.exp-info p{
    display: inline;
}
.exp-info span{
    position: relative;
    font-size: 0.7em;
}
#lhr{
    left:30px;
}
#full{
    border:2px solid;
    border-radius: 25px;
    padding: 5px;
    background-color: lightgreen;
    color:green;
    left:380px;
    bottom:45px;
}
#date{
    left:300px;
}

.contact section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.contact h1{
    text-align: center;
}
.contact p{
    text-align: center;
}
.contact form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form{
    animation: form 1.5s ease;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    width:60%;
    height:400px;
    padding:50px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 2px gray;
}

label{
    margin-left:5px;
}

.contact-form input{
    padding: 10px;
    font-family: "Poppins";
    width:100%;
    height:30px;
    border-radius: 10px;
    border:2px solid #14a4fd;
    background-color: rgb(216, 216, 216);
}
.contact-form textarea{
    padding: 10px;
    font-family: "Poppins";
    width:100%;
    height:100px;
    border-radius: 10px;
    border:2px solid #14a4fd;
    background-color: rgb(216, 216, 216);
}
.contact-form button{
    border: 2px solid #14a4fd;
    border-radius: 10px;
    background-color: #0070cb;
    color: white;
    font-family: "Poppins";
    width:100px;
    height:50px;
    transition: background-color 0.7s ease;
}
.contact-form button:hover{
    background-color: #14a4fd;
}

.btn{
    width:100px;
    height: 50px;
}

.projects {
    width:700px;
}
.projects section{
    margin-left: 25px;
}

.card{
    display: grid;
    grid-template-rows:1fr 2fr;
    width:300px;
    height: 450px;
    border-radius: 10%;
    border:2px solid gray;
    animation: slideDownWithOpacity 1.5s ease;
    /* box-shadow: 0px 2px 4px 2px gray; */
}

.img{
    height:180px;
}  

.img img{
    width: 90%;
    height:90%;
    margin:15px;
    border-radius: 5%;
}

.details{
    margin:10px;
}
.details article{
    font-size: 0.6em;
}
.details h4{
    font-size: 0.8em;
    display: inline;
}
.details span{
    font-size: 0.7em;
}

#github{
    margin-left: auto;
}
.links{
    display: flex;
}
.links div{
    display: inline-block;
    width:120px;
    height: 100%;
    margin: 10px;
}
.links div img{
    display: inline;
}
.links div span{
    font-size: 0.7em;
    position: relative;
    bottom: 10px;
    left:5px;
}

#github{
    position: relative;
    left:15px;
}
.project-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.first-test{
    display: flex;
    align-items: center;
    border:2px solid grey;
    width:400px;
    height: 200px;
    border-radius:10%;
}
.first-test img{
    display: inline;
    margin:30px;
    width: 100px;
    height: 120px;
    border-radius: 50%;
}
.first-test p{
    text-align: left;
    font-size: 0.6em;
}
.first-test span{
    position: relative;
    top:10px;
    display: block;
}
.testimonial{
    animation: leftIn 1s ease;
}

@keyframes fadeInFromLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

.skill:nth-child(1) { animation-delay: 0.1s; }
.skill:nth-child(2) { animation-delay: 0.2s; }
.skill:nth-child(3) { animation-delay: 0.3s; }
.skill:nth-child(4) { animation-delay: 0.4s; }
.skill:nth-child(5) { animation-delay: 0.5s; }
.skill:nth-child(6) { animation-delay: 0.6s; }
.skill:nth-child(7) { animation-delay: 0.7s; }
.skill:nth-child(8) { animation-delay: 0.8s; }
.skill:nth-child(9) { animation-delay: 0.9s; }
.skill:nth-child(10) { animation-delay: 1s; }
.skill:nth-child(11) { animation-delay: 1.1s; }
.skill:nth-child(12) { animation-delay: 1.2s; }
.skill:nth-child(13) { animation-delay: 1.3s; }
.skill:nth-child(14) { animation-delay: 1.4s; }
.skill:nth-child(15) { animation-delay: 1.5s; }


@media screen and (min-width : 368px) and (max-width: 706px) {
    h1{
        font-size: 1.2em;
    }
    p{
        font-size: 0.6em;
    }
    label{
        font-size: 0.6rem;
    }
    input::placeholder{
        font-size: 0.6rem;
    }
    textarea::placeholder{
        font-size: 0.6rem;
    }
    .active{
        color:black;
    }
    #icon{
        display: block;
        margin:3px; 
        cursor : pointer;      
    }
    #large{
        display: none;
    }
    .logo{
        width:40px;
        height:40px;
    }
    .text h1{
        font-size: 1.2em;
    }
    .text p{
        font-size: 0.6rem;
        bottom : 7px;
    }
    .image img{ 
        width: 110px;
        height: 110px;
        margin-top: 80px;
    }
    .one{
        margin-left:15px;
    }
    .two{
        margin-left:18px;
    }
    .two img{
        height:25px;
        margin:14px;
    }
    .one img {
        height: 25px;
        margin: 16px;
    }
    .techstack p{
        font-size: 0.6em;
    }
    br{
        display: none;
    }
    .animateFadeIn br{
        display: block;
    }
    .start h1{
        font-size: 1.5em;
    }
    .about h1{
        font-size: 1.2em;
    }
    .about p,.about span{
        font-size: 0.6em;
    }
    .about h4{
        font-size: 0.9em;
    }
    .exp-info p{
        display: block;
    }
    .exp-info span{
        position: relative;
        font-size: 0.6em;
    }
    #lhr{
        bottom: 15px;
        left: 0;
    }
    #full{
        border:2px solid;
        border-radius: 25px;
        padding: 5px;
        background-color: lightgreen;
        color:green;
        left:220px;
        bottom:67px;
    }
    #date{
        left:147px;
        bottom:16px;
    }
    .details article{
        font-size: 0.8em;
    }
    
    .projects{
        width:100%;
    }
    .project-cards{
        justify-content: center;
    }
    .testimonial{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .testimonial h1{
        margin-right: auto;
    }
    .first-test{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:200px;
        height: max-content;
    }
    .first-test p{
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        position: relative;
        bottom:25px;
    }
}

@media screen and (min-width : 265px) and (max-width : 368px)
{
    .active {
        color:black;
    }
    #icon{
        display: block;
        margin:3px;  
        cursor: pointer;     
    }
    #large{
        display: none;
    }
    .logo{
        width:40px;
        height:40px;
    }
    .text h1{
        font-size: 0.9em;
    }
    .text p{
        font-size: 0.4em;
        bottom : 7px;
    }
    .image img {
        width: 110px;
        height: 110px;
        margin-top: 80px;
    }
    .one{
        margin-left:15px;
    }
    .two{
        margin-left:18px;
    }
    .two img{
        height:24px;
        margin:14px;
    }
    .one img {
        height: 24px;
        margin: 14px;
    }
    .techstack h2{
        font-size: 0.8em;
    }
    .techstack p{
        font-size: 0.5em;
    }

    br{
        display: none;
    }
    .animateFadeIn br{
        display: block;
    }
    .exp-info p{
        display: block;
    }
    .start h1{
        font-size: 1.5em;
    }
    .about p,.about span{
        font-size: 0.5em;
    }
    .about h4{
        font-size: 0.9em;
    }
    .exp-info p{
        display: block;
    }
    .exp-info span{
        position: relative;
        font-size: 0.5em;
    }
    #lhr{
        bottom: 15px;
        left:0;
    }
    #full{
        border:2px solid;
        border-radius: 25px;
        padding: 5px;
        background-color: lightgreen;
        color:green;
        left:220px;
        bottom:67px;
    }
    #date{
        left:147px;
        bottom:16px;
    }
    .projects{
        width:100%;
    }
    .project-cards{
        justify-content: center;
    }
    .testimonial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .testimonial h1{
    margin-right: auto;
    }
    .first-test{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:200px;
        height: max-content;
    }
    .first-test p{
        text-align: center;
        margin: 0 auto;
        padding: 15px;
        position: relative;
        bottom:25px;
    }
    .details article{
        font-size: 0.8em;
    }
    
}

/* Animations */

@keyframes form {
    from{
    transform: translateY(500px);
    opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slowLeft {
    from{
    transform: translateX(-500px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slideDownWithOpacity {
    from{
        transform: translateY(-60px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from{
        transform: translateY(-60px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to{
            transform: translateY(0);
            opacity: 1;
    }
}

@keyframes leftIn {
    from{
        transform: translateX(-100px);
        opacity: 0;

    }
    to{
        transform : translateX(0);
        opacity: 1;
    }
}

@keyframes rightIn {
    from{
        transform: translateX(200px);

    }
    to{
        transform : translateX(0);
    }
}

@keyframes spinIcon {
    from{
            transform: translateY(-100px) rotate(360deg);
    }
    to{
            transform: translateY(0) rotate(0deg);
    }
    
}


@keyframes rotate {
    from{
            transform: rotate(360deg);
    }
    to{
            transform: rotate(0deg);
    }
    
}

.animateSlideDown{
    animation: slideDown 1s ease;
}

.animateFadeIn{
    animation: fadeIn 1.5s ease;
}
.animateLeftIn{
    animation: leftIn 1.5s ease;
}
.animateRightIn{
    animation : rightIn 1s ease;
}

